<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CRUD</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" >

</head>
<body>

<div class="container">
	
	<nav>
		<div class="socialRed">
			<a style="color: #9FB2E1;" href="#">Social</a>
		</div>

		<div class="search">
			<input type="text" placeholder="Busca"><span class='material-symbols-sharp'>search</span>
		</div>
		<div class="link">
			<a href="/">
				<span class="material-icons">home</span>
			</a>
			<a href="#">
				<span class="material-icons">send</span>
			</a>
			<a href="#">
				<span style="color: #9FB2E1;" class="material-symbols-sharp">add_circle</span>
			</a>
			<a href="#">
				<span class="material-symbols-sharp">share_location</span>
			</a>
			<a href="#">
				<span class="material-symbols-sharp">favorite</span>
			</a>
			<a href="#">
				<span style="color: #9FB2E1;" class="material-icons">account_circle</span>
			</a>
		</div>
	</nav>
</div>
<div class="tituloCreate">	

		<h1>Has las historias mas interesantes</h1>

		<h4>Las fotos de tus historias se guardaran en tu biblioteca</h4>

</div>
<div class="create">	



	<form action="">	

		<input type="file">	
		<br>	
		<input type="text">
		<br>	
		<input type="submit">
	</form>

</div>	



</body>
</html>