
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CRUD</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" >

</head>
<body>

<div class="container">
	
	<nav>
		<div class="socialRed">
			<a style="color: #9FB2E1;" href="#"><img src="logoinstagram.png" alt=""></a>
		</div>

		<div class="search">
			<input type="text" placeholder="Busca"><span class='material-symbols-sharp'>search</span>
		</div>
		<div class="link">
			<a href="/">
				<span style="color: #9FB2E1;" class="material-icons">home</span>
			</a>
			<a href="#">
				<span class="material-icons">send</span>
			</a>
			<a href="/create">
				<span class="material-symbols-sharp">add_circle</span>
			</a>
			<a href="#">
				<span class="material-symbols-sharp">share_location</span>
			</a>
			<a href="#">
				<span class="material-symbols-sharp">favorite</span>
			</a>
			<a href="#">
				<span style="color: #9FB2E1;" class="material-icons">account_circle</span>
			</a>
		</div>
	</nav>
</div>

<section class="container-bottom" >
		
		<div class="history scroll">
			<div class="flex">

				<div class="perfil">
					<div class="img">
						<img src="perfil4.jpg" alt="">
					</div>
					<h3>luciana.Hathaway </h3>
			    </div>

			    <div class="perfil">
					<div class="img">
						<img src="perfil3.jpg" alt="">
					</div>
					<h3>karinaMonaco </h3>
			    </div>

			     <div class="perfil">
					<div class="img">
						<img src="perfil2.jpg" alt="">
					</div>
					<h3>maria.funes97 </h3>
			    </div>

			        <div class="perfil">
					<div class="img">
						<img src="perfil1.jpg" alt="">
					</div>
					<h3>pricila@Rooself </h3>
			    </div>


			</div>
		</div> 
<style>	

		.flex{
			display: flex;


		}
		.flex .perfil{
			display: flex;
			flex-direction: column;
			align-items: center	;
		}
		.scroll{
			padding: 5px;
			overflow-x: hidden;
			overflow-x: scroll;
		}

</style>	
        <div class="history">
	
			<div class="perfil">
				<div class="img">
					<img src="perfil2.jpg" alt="">
				</div>
				<h3>maria.funes97 </h3>
			</div>

			<img src="evento8.jpg" alt="">

			<div class="perfil-buttom">

				<div class="left">

					<a href="#">
						<span class="material-symbols-sharp">favorite</span>
					</a>

					<a href="#">
						<span class="material-symbols-sharp">maps_ugc</span>
					</a>
					<a href="#">
						<span class="material-symbols-sharp">send</span>
					</a>
				</div>

				<div class="right">
					<a href="#"></a>	
				</div>

		    </div>

			<div class="history-content">
					
					
				<h2>43 Me gusta</h2>

	            <div class="msj">
	               <h3>maria.funes97 </h3>
	               <span>Q onda</span>
	            </div>

				<h4>Ver los 2 comentarios</h4>

				<p>HACE 13 HORAS</p>
			</div>	
	    </div>
	    <div class="history">
	
			<div class="perfil">
				<div class="img">
					<img src="perfil4.jpg" alt="">
				</div>
				<h3>luciana.Hathaway </h3>
			</div>

			<img src="evento3.jpg" alt="">

			<div class="perfil-buttom">

				<div class="left">

					<a href="#">
						<span class="material-symbols-sharp">favorite</span>
					</a>

					<a href="#">
						<span class="material-symbols-sharp">maps_ugc</span>
					</a>
					<a href="#">
						<span class="material-symbols-sharp">send</span>
					</a>
				</div>

				<div class="right">
					<a href="#"></a>	
				</div>

		    </div>

			<div class="history-content">
					
					
				<h2>1023 Me gusta</h2>

	            <div class="msj">
	               <h3>luciana.Hathaway </h3>
	               <span>Q lindo diaaaa!!</span>
	            </div>

				<h4>Ver los 32 comentarios</h4>

				<p>HACE 5 MINUTOS</p>
			</div>	
	    </div>

</section>
	<script src="app.js"></script>
</body>
</html>